:root {
  --main-teal : #007A91;
  --main-pink : #FF7268;
  --main-brown: #403631;
  --main-light-brown: #BFBFBD;
  --main-light-gray: #dcdcdc;
}

* {
  padding: 0px; 
  margin: 0px; 
  box-sizing: border-box;
}

.box {
  padding: .25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.container {
  background-color: var(--main-pink);
  background-image: url(https://user-images.githubusercontent.com/11747875/179345335-8856e91d-ac9a-4f99-9ebf-77bd67b58739.jpeg);
  background-size: contain;
}

.label {
	font-family: 'Yomogi', cursive;
	font-size: 2rem;
  font-weight: 100;
	color: var(--main-pink);
	margin: 0px auto 1rem auto;
}

.main {
  background-color: var(--main-teal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
}

.name {
  border-radius: 10px;
  border: 2px solid var(--main-teal);
  padding: 1.25rem;
  min-width: 29vw;
  background-color: var(--main-light-gray);
  color: var(--main-teal);
  font-size: 2rem;
  font-family: 'Yomogi', cursive;
}

.results {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Yomogi', cursive;
  color: var(--main-pink);
  text-transform: uppercase;
  font-size: 3rem;
}

input[type="text"] {
  width: 60vw;
  margin: auto;
  font-family: 'Yomogi', cursive;
  color: #403631;
  font-size: 2rem;
  color: var(--main-brown);
  padding: .5rem;
}

.p-attributions {
  color: white; 
  font-family: 'Yomogi', cursive;
  font-size: .75rem;
}


@media screen and (max-width:1200px) {
  .name {
    font-size: .75rem;
    min-width: 46vw;
    padding: .75rem;
}
}​

